<div style="display: flex; flex-wrap: wrap; align-items: flex-start;" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <mat-card style="flex: 1 auto;" class="mco-card-project" *ngFor="let project of projects" fxFlex="100%;" fxFlex.xs="80%">
                <mat-card-header>
                    <mat-card-title class="mco-card-title">{{project.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mco-card-content">{{project.description }}</mat-card-content>
                <div class="mco-tags">
                    <div *ngFor="let tag of project.tags">{{tag}}</div>
                </div>
                <mat-card-actions>
                  <a *ngIf="project.demoLink" target="_blank" href="{{project.demoLink}}"><img class="mat-card-button" width="32" src="static/icons/hyperlink.svg"></a>
                  <a target="_blank" (click)="openDialog(project.images, 0)" class="mat-card-button"><img class="mat-card-button" width="32" src="static/icons/picture.svg"></a>
                  <a *ngIf="project.githubLink" target="_blank" href="{{project.githubLink}}"><img class="mat-card-button" width="32" src="static/icons/github.svg"></a>
                </mat-card-actions>
            </mat-card>
</div>
