<div class="mco-terminal-header">
  <div class="mco-terminal-header-button close-button"></div>
  <div class="mco-terminal-header-button minimize-button"></div>
  <div class="mco-terminal-header-button maximize-button"></div>
</div>
<div class="mco-terminal-content">
  <img [src]="currentImage" style="width: 100%;" [@slideAnimation]>
  <div class="mco-navigate-gallery">
      <i class="material-icons mco-navigate-arrows" (click)="navigate('left')">arrow_back_ios</i>
      <i class="material-icons mco-navigate-arrows" (click)="navigate('right')">arrow_forward_ios</i>
  </div>
</div>

