.mco-terminal-header{
    background: lightgrey;
    width: 100%;
    height: 20px;
}

.mco-terminal-header-button{
    margin-left: 8px;
    border-radius: 50% !important;
    height: 12px !important;
    width: 12px !important;
    display: inline-block;
    vertical-align:middle;
}

.mco-terminal-header-button.close-button{
    background-color: #f96256 !important;
}

.mco-terminal-header-button.minimize-button{
    background-color: #fdbc3d !important;
}

.mco-terminal-header-button.maximize-button{
    background-color: rgb(33, 180, 33) !important;
}

.mco-navigate-gallery{
    position: absolute !important;
    top: 50% !important;
    width: 80%
}