<!--The content below is only a placeholder and can be replaced.-->

<div class="mco-header">
    <div class="animate-type" typingAnimate>Hello World!%%I'm Maco!</div>
</div>
<div class="mco-content">
    <mat-tab-group dynamicHeight>
        <mat-tab label="Projects">
            <mco-project></mco-project>
        </mat-tab>
        <mat-tab label="About Me">
          <mco-about-me style="flex-direction: column; box-sizing: border-box; display: flex;"></mco-about-me>
        </mat-tab>
        <mat-tab label="Contact Me">
          <mco-contact-me></mco-contact-me>
        </mat-tab>
        <!--
        <mat-tab label="Random Stuff">
          <mco-random-stuff style="flex-direction: column; box-sizing: border-box; display: flex;"></mco-random-stuff>
        </mat-tab>
        -->
    </mat-tab-group>
</div>
<mat-divider></mat-divider>
<router-outlet></router-outlet>
