<mat-card class="mco-card-aboutme" fxFlex="100%">
  <mat-card-header>
      <mat-card-title class="mco-card-title">Who am I?</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mco-card-content">
    It's been {{yearsSinceGraduate}} years since I graduated from Bachelor of Science in Electronics Engineering. Since then, I've been a software developer for the local government of my city. Since the organization lacks IT professionals, I'm also the sysadmin. Everyday, I just code. If I'm bored, open up Kali linux and self-study cybersecurity stuffs.
  </mat-card-content>
</mat-card>

<mat-card class="mco-card-aboutme" fxFlex="100%">
  <mat-card-header>
      <mat-card-title class="mco-card-title">What I do during free time?</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mco-card-content">
    I'm planning to take a postgraduate degree that will help me shift my career into a hardware research-oriented field such as nanoelectronics, photonics, or some cool stuffs! I'm actively looking for a scholarship, so if you can suggest me one, hit me up! I hope I'm not too late!
  </mat-card-content>
</mat-card>
