/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
$title-font-size: 25px;
$content-font-size: 18px;
$theme-font-color: #ffffff;
*{
    font-family: "Ubuntu Mono";
}
body{
    background-color: #1f1f1f;
}

button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mco-header{
    color: $theme-font-color;
    font-size: 52px;
    margin-left: 150px;
    margin-top: 80px;
    @media only screen and (max-width: 768px) {
        margin-left: 50px;
        font-size: 16px;
	}
}

.mco-header::after{
    content:"_";
    color: $theme-font-color;
    animation: blinker 1s linear infinite;
}

.mco-content{
    width: 80%;
    margin-top: 50px;
    margin-left: 150px;
    @media only screen and (max-width: 768px) {
        margin: 50px auto;
	}
}
.mco-footer{
    margin: 50px auto;
    width: 80%;
}
.mco-project-links{
    border-bottom: 2px solid;
    font-weight: 600;
    font-size: 1.2em;
}

.mco-thumbnails{
    width: 100px;
    height: 100px;
    margin: 2px 2px 2px 2px;
    overflow: hidden;
    display: inline-block;
}

.mco-thumbnails img{
    display: inline-block;
    width: 200px;
    margin: -10px 0 0 -10px;
}

.mco-tags{
    display: inline-block;
    margin-bottom: 10px;
    & span{
        padding: 7px 7px 7px 7px;
        margin: 5px 3px 5px 3px;
        border: solid 1px rgb(137, 225, 51);;
        border-radius: 5px;
        font-size: 12px;
    }
}

.animate-type{
    color: $theme-font-color;
    display: inline-block;
}
.animate-type::before{
    content:"mco@prtfl:~$";
    margin-right: 10px;
    color:rgb(137, 225, 51);
    display: inline-block;
    font-weight: bold;
}

.mat-expansion-panel-header{
    font-weight: bold !important;
}

.mat-card{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 10px 10px 10px;
    @media only screen and (max-width: 768px) {
        margin: 0 0 0 0;
	}
}
.mat-card-title{
    font-weight: bold !important;
}

.mat-card-actions{
    text-align: center !important;
}

.mat-card-actions .mat-card-button{
    margin: 5px 5px 5px 5px;
    &:hover{
        cursor: pointer;
    }
}
.mat-dialog-container{
    padding: 0 0 0 0 !important;
    border-radius: 8px 8px 8px 8px !important;
}

@keyframes blinker {
    from,
    49.9% {
      opacity: 0;
    }
    50%,
    to {
      opacity: 1;
    }
  }